footer {
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  list-style: none;
  display: flex;
  gap: 10px;
}
