body{
    font-family:sans-serif ;
}
h1{
    text-align: center;
    margin: 30px 0 50px;
}
.Gallery{
    margin: 10px 50px;
}
.Gallery img{
    width: 230px;
    padding: 5px ;
    filter: grayscale(100%);
    transition: 1s;
}
.Gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
.footer {
    display: flex;
    justify-content: center;
}
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination-item {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: lightgray;
    border: 1px solid rgb(15, 217, 129);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.pagination-item.active {
    background-color: lightgray;
}
.pagination-item:hover {
    background-color: burlywood;
    color: black;
}

